* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #1E201E;

}

.controls-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    margin: 0;
    padding: 0;
}

.controls {
    padding: 2rem;
    border-radius: 6px;
    background-color: black;
}

#player-container {
    position: relative;
    z-index: 10;
    /* background: linear-gradient(0deg, #000, #272727); */
}

/* #player-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/*#player-container>div {
 border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1; }
*/


/* #player-container::before,
#player-container::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: steam 20s linear infinite;
    border-radius: 10px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#player-container:after {
    filter: blur(5px);
} */

.vds-captions {
    margin: 0;
}

.subtitle-container {
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #fc6;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    user-select: text;
    pointer-events: auto;
}

.cues {
    display: block;
    line-height: 1.3;
    padding: 5px;
    max-width: 80%;
    margin: 0 auto;
}

.subs {
    padding: 0.3em 0;
}

.word {
    cursor: "auto";
    margin: 0 5px;
    display: "inline-block";
}

.word:hover {
    background-color: rgba(96, 132, 185, 0.83);
}

#close-button {
    position: absolute;
    padding: 0;
    z-index: 99;
    top: 2em;
    right: 2em;
}

#play-button {
    padding: 0;
    left: 2em;
}

.file-name {
    width: 120px;
    color: white;
}

.vds-controls {
    background-image: none;
}


.word-card {
    text-align: left;
    background-color: #222121;
    color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    width: 374px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    display: block;
    bottom: 100%;
    left: calc(50% - 187px);
    pointer-events: auto;
}

.content {
    padding: 0 0.5em;
}

.word-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-word {
    font-size: 24px;
    font-weight: bold;
}

.add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.translation-section {
    margin-top: 12px;
}

.primary-translation {
    color: #fdc666;
    font-size: 20px;
    font-weight: bold;
}

.meanings {
    margin-top: 12px;
}

.meaning {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.definition {
    font-size: 16px;
    color: #7e7d7d;
}

.type {
    color: #888;
    font-size: 14px;
}