* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #000;

}

.controls-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    margin: 0;
    padding: 0;
}

.controls {
    padding: 2rem;
    border: 2px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
    background-color: black;
}

#player-container {
    position: relative;
    z-index: 10;
    /* background: linear-gradient(0deg, #000, #272727); */
}

#player-container>div {
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}


/* #player-container::before,
#player-container::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: steam 20s linear infinite;
    border-radius: 10px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#player-container:after {
    filter: blur(5px);
} */

.subtitle-container {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 0px;
    position: absolute;
    height: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    color: #fc6;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    z-index: 11;
}

.subs {
    padding: 0.3em 0;
}

.word {
    cursor: "auto";
    margin: 0 5px;
    display: "inline-block";
}

.word:hover {
    background-color: rgba(96, 132, 185, 0.83);
}

#close-button {
    position: absolute;
    padding: 0;
    z-index: 99;
    top: 2em;
    right: 2em;
}

#play-button {
    padding: 0;
    left: 2em;
}

.file-name {
    width: 120px;
    color: white;
}